body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh; /* Make body at least as tall as viewport */
}

nav {
  background-color: #333;
  width: 100%;
  display: flex;
  justify-content: center; 
}

nav a {
  color: #f2f2f2;
  padding: 14px 16px;
  text-decoration: none;
  margin: 0 10px; 
}

nav a:hover {
  background-color: #ddd;
  color: black;
}

section {
  width: 80%; /* Adjust width as needed */
  margin-top: 50px;
  text-align: center; 
}

.game-box {
  width: 200px;
  height: 150px;
  border: 1px solid #ccc;
  margin: 10px;
  display: inline-block;
  text-align: center;
  line-height: 150px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out; 
}

.game-box:hover {
  transform: scale(1.05); 
}

/* Scroll Animation */
html {
  scroll-behavior: smooth; 
}
